<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Home</title>
</head>
<body>

    <div class="taskbar" style="flex: 1; background-color: #262522;">
        
    </div>

    <div class="main_screen" style="flex: 5;">
        <div id="chessBoard"></div>
    </div>

    <div class="video_screen" style="flex: 2; background-color: #525A6A;">
    </div>

    
</body>
</html>